/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrsapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * MEDIA QUERIES
 */


 /* Settings */
 
 * {
    box-sizing: border-box;
 }

 /* Base */
 h1, h2, h3, h4, h5, h6 {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
}

body {
    font-family: "Varela", sans-serif;
}

 /* Component */

/* Hero */

 .hero {
    position: relative;
    min-width: 90%;
    margin: 5%;
 }

 .hero__h1 { 
        text-align:center;
        position: absolute;
        color: white;
        left: 50%;
        top: 50%;
        transform: translate( -50%, -50% );
 }

.hero__img {
    width: 100%;
}

/* Containers */

.container {
    width: 100%;
    height: 863px;
}

.container--black {
    background-color: #1a1a1a;
}

/* service cards */

.services__h2, .card__h3, .card__p {
    color: white;
}

.services__h2 {
    text-align: center;
}

.services__cards {
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: auto;
}

.card {
    min-width: 33%;
    min-height: 33%;
    background-color: #DC3333;
}



 /**Nav Header**/
